body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.contact-box {
    display: flex;
    height: auto; /* 100% of the viewport height */
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 300px;
}

.restaurant-image {
    flex: 0 0 350px; /* Fixed width and height for the square */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.restaurant-image img {
    border-radius: 50%;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: contain;
    background: #FFFFFF;
    padding-bottom: 10px;


}

.form-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-repeat: no-repeat;

}

form {
    width: 100%;
    max-width: 400px;
    background-repeat: no-repeat;
}

textarea {
    height: 100px;

}
h3{
    margin-bottom: 1rem;
    align-self: center; /* Center text vertically */
    margin-left: 20px;
    color: #FFFFFF;

}